<app-car-detail></app-car-detail>
<div class="row">
  <div
    *ngFor="let car of cars"
    class="card"
    style="width: 20rem; padding: 20px"
  >
    <img
      src="https://localhost:44304/uploads/{{ car.imagePath }}"
      style="width: 18rem; height: 13rem"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ car.description }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <b
        ><li class="list-group-item">Id: {{ car.carId }}</li></b
      >
      <b
        ><li class="list-group-item">Marka: {{ car.brandName }}</li></b
      >
      <b
        ><li class="list-group-item">Renk: {{ car.colorName }}</li></b
      >
      <b
        ><li class="list-group-item">Fiyat: {{ car.dailyPrice }} ₺</li></b
      >
    </ul>
    <div class="card-body">
      <button
        routerLink="/cars/car-detail/{{ car.carId }}"
        style="background-color: rgb(196, 169, 84)"
        class="btn btn-outline-success"
      >
        Detaylar..
      </button>
      <button
        routerLink="/cars/rentacar/{{ car.carId }}"
        style="background-color: rgb(196, 169, 84)"
        class="btn btn-outline-success"
      >
        Kirala
      </button>
    </div>
  </div>
</div>
